.stickySave .tl_formbody_submit {
    position: fixed;
    bottom: 0;
    width: 726px;
}
.stickySave #main {
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.stickySave #tl_helpBox {
    margin-left: 30px;
}